<!-- <div *ngIf="" class="loading-container">
  <app-loading-spinner></app-loading-spinner>
</div> -->

<div class="navbar">
  <div class="navbar-content">
    <div class="navbar-left">
      <img src="assets/MementoLogo.svg" alt="" />
    </div>
    <div class="navbar-right">
      <p (click)="onLoginClicked()" class="navbar-item" *ngIf="!loggedIn()">
        Login
      </p>
      <p class="navbar-item-name" *ngIf="loggedIn() && userHasProfile">
        Hello, {{ currentUserName }}
      </p>
      <p (click)="onLogoutClicked()" class="navbar-item" *ngIf="loggedIn()">
        Logout
      </p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<app-profile [show]="loggedIn() && !userHasProfile"></app-profile>
